In [35]:
import numpy as np


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
data = pd.read_csv("data/fake_job_postings.csv" , index_col= "job_id")

In [37]:
#Revision general de los datos

In [38]:
data

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [39]:
data.shape

(17880, 17)

In [40]:
data.dtypes

title                  object
location               object
department             object
salary_range           object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
fraudulent              int64
dtype: object

In [41]:
columns = data.columns

In [42]:
data.fraudulent.value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64

In [43]:
# Se puede ver que es un dataset desbalanciado, por lo que le voy a aplicar un tratmiento especial

In [44]:
data.isna().count()

title                  17880
location               17880
department             17880
salary_range           17880
company_profile        17880
description            17880
requirements           17880
benefits               17880
telecommuting          17880
has_company_logo       17880
has_questions          17880
employment_type        17880
required_experience    17880
required_education     17880
industry               17880
function               17880
fraudulent             17880
dtype: int64

In [45]:
for i in columns:
    values = data[i].value_counts()
    print("Los valores unicos de la columna {}: {}".format(i,values))

Los valores unicos de la columna title: English Teacher Abroad                                   311
Customer Service Associate                               146
Graduates: English Teacher Abroad (Conversational)       144
English Teacher Abroad                                    95
Software Engineer                                         86
                                                        ...
Data Processing Agent                                      1
ColdFusion Developer                                       1
Admin Assistant - Seoul                                    1
Materials Manager - SAP data analysis - Greenwood, MS      1
(Work from Home) $20/hr                                    1
Name: title, Length: 11231, dtype: int64
Los valores unicos de la columna location: GB, LND, London          718
US, NY, New York         658
US, CA, San Francisco    472
GR, I, Athens            464
US, ,                    339
                        ...
IT, , Rome                 1
US, IL, Cicero             1
ZA, GT, JOHANNESBURG       1
US, IL, Sterling           1
US, OR, Oregon City        1
Name: location, Length: 3105, dtype: int64
Los valores unicos de la columna department: Sales                           551
Engineering                     487
Marketing                       401
Operations                      270
IT                              225
                               ...
Graphic Design                    1
Art and Design                    1
CS and Ops                        1
Global Services & Operations      1
IT Support                        1
Name: department, Length: 1337, dtype: int64
Los valores unicos de la columna salary_range: 0-0              142
40000-50000       66
30000-40000       55
25000-30000       37
45000-67000       37
                ...
318278-400000      1
30000-31000        1
10000-120000       1
1000-26000         1
24000-35000        1
Name: salary_range, Length: 874, dtype: int64
Los valores unicos de la columna company_profile: We help teachers get safe &amp; secure jobs abroad :)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  726
We Provide Full Time Permanent Positions for many medium to large US companies. We are interested in finding/recruiting high quality candidates in IT, Engineering, Manufacturing and other highly technical and non-technical jobs.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   674
Novitex Enterprise Solutions, formerly Pitney Bowes Management Services, delivers innovative document and communications management solutions that help companies around the world drive business process efficiencies, increase productivity, reduce costs and improve customer satisfaction. For almost 30 years, clients have turned to us to integrate and optimize their enterprise-wide business processes to empower employees, increase productivity and maximize results. As a trusted partner, we continually focus on delivering secure, technology-enabled document and communications solutions that improve our clients' work processes, enhance their customer interactions and drive growth.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           574
Established on the principles that full time education is not for everyone Spectrum Learning is made up of a team of passionate consultants with the drive for putting people who wish to grow themselves through education whilst working into long term and relevant job roles.We also are official re-sellers for The Institute of Recruiters/ Study Course professional courses in HR Practice, In-House Recruitment and Agency RecruitmentIt is our mission to help anyone wishing to pursue an apprenticeship onto the right qualification and into the right job.We work closely with both the candidate and the employer to ensure when the learner is enrolled they are at the start of a long and successful career.We have great relationships with a number of national training providers to ensure we can cover any apprenticeship available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            450
Applied Memetics LLC is a professional services company dedicated to integrating and delivering best practice communication and information solutions in pre-conflict, conflict, or post-conflict areas.  The world has changed: ‘always on’ brands require a new way of thinking to engage and manage their consumers. Our purpose is to inspire original thinking through a deeper understanding of technology and human behaviour.  From strategy through to implementation, our teams of connected specialists – all experts in their respective fields – work together to help our clients maximise the opportunities created by the changing digital world and create a multi faceted digital strategy through to implementation.Our work explores a new model of journalism that is based around a global story – in this case, the struggle for human rights and democracy around the world. Our goal is to build a better user experience of these stories by adding context to content, using the latest digital tools of the day. Over time, we hope to add greater clarity, deeper understanding, and more sustained engagement to the conversations surrounding global events. As such, our content is transcribed and translated into English for broadcast to a global audience.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        185
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
Doctors in Dubai offers the complete solution for all doctors outside the UAE wishing to work in the UAE. We have been established to fill a professional gap in the market. Hundreds of medical professionals, whether you are a doctor, dentist, nurse or other medical professional, wishing to work in Dubai have found themselves spending hours searching various sites and posting numerous blogs to find the information they need. With Doctors in Dubai, we have the answers to all your questions in preparation to working in the UAE. From assisting you in the registration process, passing your exams, and then securing your future in the UAE, Doctors in Dubai will take away the lengthy burden of the registration process for all medical professions and assist you in passing the exams. With our various affordable packages, our processes are straightforward and can suit every budget.Once you arrive in the UAE, the main purpose is to enjoy the tax free earning the country offers. With a whole range of ways to save money, we can guide you to the financial experts to help secure your future, and save in the most cost effective way, whilst still enjoying the lifestyle you work for                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
About ISON Psychometrica'People with Results' ISON is a Consulting, Counseling &amp; Publishing House established in Athens, 1991, and offering services in Greece, Cyprus and the Balcans. It has exclusive rights for certain world famous methodologies of highly reputed organizations, such as the Universities of Minnesota and Harvard, SHRM, the Houses IPAT, PAR, OSGiunti etc. For over 10 years, it has been delivering in the territory all projects of Challenger Gray &amp; Christmas, HDA, Right Management Consultants, and other international Houses specialized in Management of Change and Career Transition.Adapting effectively to the specific demands of every type of Organization, ISON offers services to multinational and national, private and public Organizations of all kinds. Acting as a Systemic Consultant, it specializes in Organization, Restructuring, Assessment and Development of Human Potential. Our company is market maker in Career Counseling, Psychometric Testing and specialized training. ISON has developed a substantial ability to be efficient in very different settings by combining the results of the most recent research with the deep understanding of the contemporary international and local business environment. According to the particular circumstances, it offers realistic, practical and effective solutions.Areas of expertise: Management of Change, Human Resources, Psychometric Testing, Career Counseling, Adult educationISON,  in order to respond effectively to its demanding projects, operates as an open system. We co-operate with professionals from diverse backgrounds and our partners understand in depth the contemporary international business environment and the methodologies of analyzing and improving it. Acceptance and compliance with our principles is a fundamental prerequisite for our co-operation.      1
SRS are a leading provider in the recruitment of staff for the hospitality, security and cleaning industries. We have highly professional recruitment consultants with a wealth of expertise and knowledge in these industries, which is why we are able to recruit the highest calibre of staff into the most suitable positions.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1

In [46]:
#dropeo las columnas que tengan mas del 65% de los datos como NaN
data_filter = data.loc[:, data.isnull().mean() <= .65]
data_filter

,title,location,department,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,Account Director - Distribution,"CA, ON, Toronto",Sales,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,Web Application Developers,"NZ, N, Wellington",Engineering,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [47]:
#La unica que dropea es "salary_range"

In [48]:
# Creo un dataframe nuevo con las caracteristicas que puedo procesar para utilizar en el modelo

In [49]:
pfeatures = data.drop(["title","company_profile","description","requirements","benefits"],axis=1)

In [50]:
# Contador de palabras de la descirpcion, perfil de la compania y requerimientos

In [51]:
def contador(columna)

SyntaxError: invalid syntax (<ipython-input-51-a55a27104f8f>, line 1)

In [52]:

text_data = data[["title", "company_profile", "description", "requirements", "benefits"]]
text_data = text_data.fillna(' ')

text_data.head()

,title,company_profile,description,requirements,benefits
job_id,,,,,
1,Marketing Intern,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,
2,Customer Service - Cloud Video Production,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...
3,Commissioning Machinery Assistant (CMA),Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,
4,Account Executive - Washington DC,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...
5,Bill Review Manager,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered

In [53]:
# Voy a generar dos variables por cada variable de texto, el largo y frecuencia inversa

In [54]:
text_cols = ["title", "company_profile", "description", "requirements", "benefits"]
for c in text_cols:
    text_data[c] = text_data[c].fillna("")

def contarletras(text_data):    
    for c in text_cols:
        text_data[c+"_len"] = text_data[c].apply(lambda x : len(str(x)))
        text_data[c+"_wc"] = text_data[c].apply(lambda x : len(str(x.split())))

    
contarletras(text_data)

In [55]:
text_data = text_data.drop(["title","company_profile","description","benefits","requirements"],  axis=1)

In [56]:
pfeatures

,location,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,
1,"US, NY, New York",Marketing,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,"NZ, , Auckland",Success,NaN,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,"US, IA, Wever",NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,"US, DC, Washington",Sales,NaN,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,"US, FL, Fort Worth",NaN,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...
17876,"CA, ON, Toronto",Sales,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,"US, PA, Philadelphia",Accounting,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,"US, TX, Houston",NaN,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,"NG, LA, Lagos",NaN,NaN,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,"NZ, N, Wellington",Engineering,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [57]:
data

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [58]:
# Voy a hacer un mapa de las ubicaciones

import geopandas as gpd


def my_geocoder(row):
    try:
        point = geocode(row, provider='nominatim').geometry.iloc[0]
        return pd.Series({'Latitude': data.y, 'Longitude': data.x, 'geometry': data})
    except:
        return None

data["longitud"] = data.apply(lambda x: my_geocoder(x['location']), axis=1)

print("{}% of addresses were geocoded!".format(
    (1 - sum(np.isnan(data["Latitude"])) / len(data)) * 100))

# Drop universities that were not successfully geocoded
data = data.loc[~np.isnan(data["Latitude"])]
data = gpd.GeoDataFrame(data, geometry=data.geometry)
data.crs = {'init': 'epsg:4326'}
data.head()

In [59]:
# tengo problemas con la libreria geopandas, asi que voy a dejar este paso para despues

In [60]:
pfeatures

,location,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,
1,"US, NY, New York",Marketing,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,"NZ, , Auckland",Success,NaN,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,"US, IA, Wever",NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,"US, DC, Washington",Sales,NaN,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,"US, FL, Fort Worth",NaN,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...
17876,"CA, ON, Toronto",Sales,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,"US, PA, Philadelphia",Accounting,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,"US, TX, Houston",NaN,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,"NG, LA, Lagos",NaN,NaN,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,"NZ, N, Wellington",Engineering,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [61]:
#separo las variabels en categoricas y numericas

In [62]:
numerical_cols = [cname for cname in pfeatures.columns if 
                pfeatures[cname].dtype in ['int64', 'float64']]

categorical_cols = [cname for cname in pfeatures.columns if 
                   pfeatures[cname].dtype == "object"]

In [63]:
numerical_cols

['telecommuting', 'has_company_logo', 'has_questions', 'fraudulent']

In [64]:
categorical_cols

['location',
 'department',
 'salary_range',
 'employment_type',
 'required_experience',
 'required_education',
 'industry',
 'function']

In [65]:
#prueba de la cardinalidad
#A las columnas con baja cardinalidad,se le aplicara un One-Hot-Encoder
low_cardinality_cols = [col for col in categorical_cols if pfeatures[col].nunique() < 10]

#A las columnas con alta cardinalidad, se le aplicara un label_encoder
high_cardinality_cols = list(set(categorical_cols)-set(low_cardinality_cols))

low_cardinality_cols

['employment_type', 'required_experience']

In [66]:
high_cardinality_cols

['salary_range',
 'industry',
 'location',
 'required_education',
 'function',
 'department']

In [67]:
# Antes de aplicar el encode tengo que resolver los valores nulos

In [68]:
# porcentaje de valores vacios por columna
total = pfeatures.isnull().sum().sort_values(ascending=False)
percent = (pfeatures.isnull().sum()/pfeatures.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                     Total   Percent
salary_range         15012  0.839597
department           11547  0.645805
required_education    8105  0.453300
required_experience   7050  0.394295
function              6455  0.361018
industry              4903  0.274217
employment_type       3471  0.194128
location               346  0.019351
fraudulent               0  0.000000
has_questions            0  0.000000
has_company_logo         0  0.000000
telecommuting            0  0.000000

In [69]:
# elimino departament de pfeatures y de high_cardinality_cols
# porque tiene mas del 60% de los valores como NaN
pfeatures = pfeatures.drop("department",axis=1)

high_cardinality_cols.remove("department")
print(high_cardinality_cols)


# elimino salary_range de pfeatures y de high_cardinality_cols
# porque tiene mas del 60% de los valores como NaN

pfeatures = pfeatures.drop("salary_range",axis=1)

high_cardinality_cols.remove("salary_range")
print(high_cardinality_cols)

['salary_range', 'industry', 'location', 'required_education', 'function']
['industry', 'location', 'required_education', 'function']

In [70]:
# para la variable "employment_type" voy a relleanr los valores vacios con un "Desconocido" poque hay demasiados valores vacios para remplazarlos con la media
pfeatures["employment_type"].fillna(value="Desconocido" , inplace=True)

In [71]:
pfeatures.employment_type.head()

job_id
1          Other
2      Full-time
3    Desconocido
4      Full-time
5      Full-time
Name: employment_type, dtype: object

In [72]:
# Para la variable "required_experience" remplazo los valores desconocnidos con la meda ya que no son tantos
pfeatures["required_experience"].fillna(pfeatures["required_experience"].mode()[0], inplace = True)

In [73]:
#ahora voy a remplazar los valores por "Desconocido" en el resto de los valores
for cols in high_cardinality_cols:
    pfeatures[cols].fillna(value= "Desconocido", inplace = True)

In [74]:
#ahora toca rellenar los NaN para las variables numericas
for column in numerical_cols:
    pfeatures[column].fillna(pfeatures[column].median(), inplace=True)

In [75]:
pfeatures.reindex()

,location,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,
1,"US, NY, New York",0,1,0,Other,Internship,Desconocido,Desconocido,Marketing,0
2,"NZ, , Auckland",0,1,0,Full-time,Not Applicable,Desconocido,Marketing and Advertising,Customer Service,0
3,"US, IA, Wever",0,1,0,Desconocido,Mid-Senior level,Desconocido,Desconocido,Desconocido,0
4,"US, DC, Washington",0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,"US, FL, Fort Worth",0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...
17876,"CA, ON, Toronto",0,1,1,Full-time,Mid-Senior level,Desconocido,Computer Software,Sales,0
17877,"US, PA, Philadelphia",0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,"US, TX, Houston",0,0,0,Full-time,Mid-Senior level,Desconocido,Desconocido,Desconocido,0
17879,"NG, LA, Lagos",0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,"NZ, N, Wellington",0,1,1,Full-time,Mid-Senior level,Desconocido,Computer Software,Engineering,0

In [76]:
# para las variables de baja cardinalidad le aplico el one-hot-encoding, ya que al ser baja la cardinalidad no seran muchas las columnas que se crearan

In [77]:
from sklearn.preprocessing import OneHotEncoder
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_encoder = pd.DataFrame(OH_encoder.fit_transform(pfeatures[low_cardinality_cols]))

In [78]:
OH_encoder

         0    1    2    3    4    5    6    7    8    9   10   11   12
0      0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1      0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2      0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3      0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4      0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
17875  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
17876  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
17877  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
17878  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
17879  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

[17880 rows x 13 columns]

In [79]:
#los indices de esta columna comienzan en 0 y los de pfeatures comienzan en 1,
#voy a hacer que el indice de esta columna tambien empieze en 1 para evitar problemas al unir los datasets
OH_encoder.index = np.arange(1, len(OH_encoder)+1)
OH_encoder.head()

     0    1    2    3    4    5    6    7    8    9   10   11   12
1  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [80]:
#ya generamos las primeras variables categoricas, ahora voy a apicar labelencoder para las variables con cardinalidad alta

In [81]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for cols in high_cardinality_cols:
    pfeatures[cols]= label_encoder.fit_transform(pfeatures[cols])

In [82]:
#ahora vamos a combinar todo

In [83]:
pfeatures

,location,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,
1,2536,0,1,0,Other,Internship,3,29,23,0
2,1074,0,1,0,Full-time,Not Applicable,3,76,7,0
3,1868,0,1,0,Desconocido,Mid-Senior level,3,29,9,0
4,1704,0,1,0,Full-time,Mid-Senior level,1,22,32,0
5,1742,0,1,1,Full-time,Mid-Senior level,1,52,17,0
...,...,...,...,...,...,...,...,...,...,...
17876,166,0,1,1,Full-time,Mid-Senior level,3,22,32,0
17877,2735,0,1,1,Full-time,Mid-Senior level,1,62,0,0
17878,2876,0,0,0,Full-time,Mid-Senior level,3,29,9,0
17879,1046,0,0,1,Contract,Not Applicable,7,49,10,0
17880,1093,0,1,1,Full-time,Mid-Senior level,3,22,13,0

In [84]:
# Lo primero es sacar las variables de baja cardinalidad ya que se encunetran ya procesadas en "OH_encoder"

In [85]:
pfeatures = pfeatures.drop(low_cardinality_cols,axis=1)

In [86]:
union = pd.concat([pfeatures,OH_encoder], axis =1)

In [87]:
# verifico que coincidan los indices comparando los valores de la primera fila de las dos tablas

In [88]:
union

,location,telecommuting,has_company_logo,has_questions,required_education,industry,function,fraudulent,0,1,...,3,4,5,6,7,8,9,10,11,12
1,2536,0,1,0,3,29,23,0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1074,0,1,0,3,76,7,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1868,0,1,0,3,29,9,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1704,0,1,0,1,22,32,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1742,0,1,1,1,52,17,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,166,0,1,1,3,22,32,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17877,2735,0,1,1,1,62,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17878,2876,0,0,0,3,29,9,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17879,1046,0,0,1,7,49,10,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17880,1093,0,1,1,3,22,13,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [89]:
pfeatures = union

In [90]:
# a pfeatures le sumo la variables generadas a partir del texto en "text_data"

In [91]:
union = pd.concat([pfeatures, text_data], axis= 1)

,location,telecommuting,has_company_logo,has_questions,required_education,industry,function,fraudulent,0,1,...,title_len,title_wc,company_profile_len,company_profile_wc,description_len,description_wc,requirements_len,requirements_wc,benefits_len,benefits_wc
1,2536,0,1,0,3,29,23,0,0.0,0.0,...,16,23,885,1309,905,1278,852,1198,1,2
2,1074,0,1,0,3,76,7,0,0.0,0.0,...,41,60,1286,1745,2077,3020,1433,2033,1292,1972
3,1868,0,1,0,3,29,9,0,0.0,1.0,...,39,52,879,1302,355,506,1363,1856,1,2
4,1704,0,1,0,1,22,32,0,0.0,0.0,...,33,49,614,868,2600,3637,1429,1958,782,1074
5,1742,0,1,1,1,52,17,0,0.0,0.0,...,19,29,1628,2250,1520,1939,757,1025,21,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,166,0,1,1,3,22,32,0,0.0,0.0,...,32,44,1708,2579,1442,2118,1273,1814,857,1338
17877,2735,0,1,1,1,62,0,0,0.0,0.0,...,18,25,2270,3261,1216,1698,721,1055,511,673
17878,2876,0,0,0,3,29,9,0,0.0,0.0,...,59,93,228,325,1291,1803,1235,1711,1,2
17879,1046,0,0,1,7,49,10,0,1.0,0.0,...,16,23,1,2,506,738,502,761,216,322
17880,1093,0,1,1,3,22,13,0,0.0,0.0,...,26,36,1708,2579,1877,2857,988,1469,1,2

In [92]:
pfeatures = union

In [93]:
# Ahora, ya que el dataset esta desbalanceado, vamos a balancearlo con la tecnica smote
#Lo que hace esta tecnica es generar nuevas variables (de la clase minoritaria) para aproximarse a la otra clase
#Esto resulta en un mejor rendimiento de los modelos

In [94]:
# SMOTE

from imblearn.over_sampling import SMOTE
#separo la variable objetivo("fraudalent") del resto.
X= pfeatures.drop("fraudulent", axis=1)
y = pfeatures["fraudulent"]

In [95]:
# Separo en train-test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [96]:
sm = SMOTE(random_state=27,sampling_strategy=1.0)
X_train, y_train = sm.fit_sample(X_train, y_train)

In [97]:
# Aplico los modelos

# Regresion Logistica

In [98]:
from sklearn.metrics import confusion_matrix

In [99]:
from sklearn.linear_model import LogisticRegression

Reglog = LogisticRegression(max_iter= 500000)
Reglog.fit(X_train,y_train)

Reglog_pred = Reglog.predict(X_test)

In [100]:
from sklearn.metrics import classification_report

In [101]:
print(classification_report(y_test, Reglog_pred))

              precision    recall  f1-score   support

           0       0.98      0.77      0.87      3395
           1       0.15      0.77      0.26       181

    accuracy                           0.77      3576
   macro avg       0.57      0.77      0.56      3576
weighted avg       0.94      0.77      0.84      3576

In [102]:
confusion_matrix(y_test, Reglog_pred)

array([[2629,  766],
       [  41,  140]], dtype=int64)

# Random Forest Classifier

In [103]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier()
random_forest.fit(X_train,y_train)

RandomForestClassifier()

In [104]:
random_forest_pred = random_forest.predict(X_test)
print(classification_report(y_test,random_forest_pred))

              precision    recall  f1-score   support

           0       0.98      0.99      0.99      3395
           1       0.83      0.70      0.76       181

    accuracy                           0.98      3576
   macro avg       0.91      0.84      0.87      3576
weighted avg       0.98      0.98      0.98      3576

In [105]:
confusion_matrix(y_test, random_forest_pred)

array([[3370,   25],
       [  55,  126]], dtype=int64)

In [106]:
import eli5
from eli5.sklearn import PermutationImportance

perm = PermutationImportance(my_model, random_state=1).fit(val_X, val_y)
eli5.show_weights(perm, feature_names = val_X.columns.tolist())

C:\Users\Tomas\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)
C:\Users\Tomas\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.feature_selection.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection. Anything that cannot be imported from sklearn.feature_selection is now part of the private API.
  warnings.warn(message, FutureWarning)

NameError: name 'my_model' is not defined

# ADA BOOST

In [107]:
#estadarizo los datos para que funcione mejor el modelo
from  sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_train_sca = sc_X.fit_transform(X_train)
X_test_sca = sc_X.transform(X_test)

In [117]:
from sklearn.ensemble import AdaBoostClassifier

ada=AdaBoostClassifier(random_state=0)
ada.fit(X_train_sca,y_train)
ada_pred=ada.predict(X_test_sca)

print(classification_report(y_test,ada_pred))

confusion_matrix(y_test, ada_pred)

              precision    recall  f1-score   support

           0       0.98      0.89      0.93      3395
           1       0.25      0.69      0.36       181

    accuracy                           0.88      3576
   macro avg       0.61      0.79      0.65      3576
weighted avg       0.94      0.88      0.90      3576

array([[3012,  383],
       [  56,  125]], dtype=int64)

# Passive Aggressive Classifier

In [110]:
from sklearn.linear_model import PassiveAggressiveClassifier

pac=PassiveAggressiveClassifier(random_state=0)
pac.fit(X_train_sca,y_train)
pac_pred=pac.predict(X_test_sca)

print(classification_report(y_test,pac_pred))


confusion_matrix(y_test, pac_pred)

              precision    recall  f1-score   support

           0       0.98      0.73      0.84      3395
           1       0.12      0.66      0.20       181

    accuracy                           0.73      3576
   macro avg       0.55      0.70      0.52      3576
weighted avg       0.93      0.73      0.81      3576

array([[2493,  902],
       [  61,  120]], dtype=int64)

# DecisionTreeClassifier

In [111]:
from sklearn.tree import DecisionTreeClassifier

dtc=DecisionTreeClassifier(criterion="entropy",random_state=0)
dtc.fit(X_train_sca,y_train)
dtc_pred=dtc.predict(X_test_sca)
print(classification_report(y_test,dtc_pred))
confusion_matrix(y_test, dtc_pred)

              precision    recall  f1-score   support

           0       0.99      0.97      0.98      3395
           1       0.61      0.76      0.67       181

    accuracy                           0.96      3576
   macro avg       0.80      0.87      0.83      3576
weighted avg       0.97      0.96      0.96      3576

array([[3307,   88],
       [  44,  137]], dtype=int64)

# XGBClassifier

In [112]:
from xgboost import XGBClassifier

xgbc = XGBClassifier()
xgbc.fit(X_train, y_train)
xgbc_pred =xgbc.predict(X_test)
print(classification_report(y_test,xgbc_pred))
confusion_matrix(y_test, xgbc_pred)

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      3395
           1       0.82      0.78      0.80       181

    accuracy                           0.98      3576
   macro avg       0.90      0.89      0.90      3576
weighted avg       0.98      0.98      0.98      3576

array([[3364,   31],
       [  39,  142]], dtype=int64)

In [ ]:
print(xgbc)

De todos los moedlos que aplique, los que mejor funcionan son el XGBClassifier seguido por el Random Forest , son los que tienen mayor f1-score gracias a que mantienen una presicion y un recall altos.

In [128]:
xgbc2 = XGBClassifier(n_estimators=1000, learning_rate=0.40)


xgbc2.fit(X_train, y_train,
          early_stopping_rounds  = 10 ,
          eval_set=[(X_test, y_test)], 
             verbose=False
         )


xgbc2_pred =xgbc2.predict(X_test)
print(classification_report(y_test,xgbc2_pred))
confusion_matrix(y_test, xgbc2_pred)

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      3395
           1       0.82      0.81      0.82       181

    accuracy                           0.98      3576
   macro avg       0.91      0.90      0.90      3576
weighted avg       0.98      0.98      0.98      3576

array([[3364,   31],
       [  35,  146]], dtype=int64)

In [129]:
print(xgbc2)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.4, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=1000, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [ ]:
# Despues de jugar con los hiperpaametros, estos fueron los que mejor resultados me dieron con el modelo XGBClassifier ( el "xgbc2")