In [1]:
import numpy as np


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Tomas\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv("data/fake_job_postings.csv" , index_col= "job_id")

In [3]:
#Revision general de los datos

In [4]:
data

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [5]:
data.shape

(17880, 17)

In [6]:
data.dtypes

title                  object
location               object
department             object
salary_range           object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
fraudulent              int64
dtype: object

In [7]:
columns = data.columns

In [8]:
data.fraudulent.value_counts()

0    17014
1      866
Name: fraudulent, dtype: int64

In [9]:
# Se puede ver que es un dataset desbalanciado, por lo que le voy a aplicar un tratmiento especial

In [10]:
data.isna().count()

title                  17880
location               17880
department             17880
salary_range           17880
company_profile        17880
description            17880
requirements           17880
benefits               17880
telecommuting          17880
has_company_logo       17880
has_questions          17880
employment_type        17880
required_experience    17880
required_education     17880
industry               17880
function               17880
fraudulent             17880
dtype: int64

In [11]:
for i in columns:
    values = data[i].value_counts()
    print("Los valores unicos de la columna {}: {}".format(i,values))

Los valores unicos de la columna title: English Teacher Abroad                                                             311
Customer Service Associate                                                         146
Graduates: English Teacher Abroad (Conversational)                                 144
English Teacher Abroad                                                              95
Software Engineer                                                                   86
                                                                                  ...
Procurement Specialist                                                               1
Customer Experience Intern                                                           1
Book Keeper                                                                          1
Wakefield Apprentice Accounts Assistant Under NAS 16-18 Year Olds Only               1
Urgently Required Senior VMware and MS Windows Systems Administrator for Qatar.      1
Name: title, Length: 11231, dtype: int64
Los valores unicos de la columna location: GB, LND, London                718
US, NY, New York               658
US, CA, San Francisco          472
GR, I, Athens                  464
US, ,                          339
                              ...
GR, I, kalivia thorikou          1
US, ND, Bismarck or Fargo        1
US, CA, South San Francisco      1
US, , West Virginia              1
GB, WKF, Pontefract              1
Name: location, Length: 3105, dtype: int64
Los valores unicos de la columna department: Sales               551
Engineering         487
Marketing           401
Operations          270
IT                  225
                   ...
HLT                   1
SportsLock            1
1411                  1
Finishing             1
Call Center CSR       1
Name: department, Length: 1337, dtype: int64
Los valores unicos de la columna salary_range: 0-0            142
40000-50000     66
30000-40000     55
25000-30000     37
45000-67000     37
              ...
8000-9000        1
0-20000          1
0-120000         1
55000-79000      1
34000-42000      1
Name: salary_range, Length: 874, dtype: int64
Los valores unicos de la columna company_profile: We help teachers get safe &amp; secure jobs abroad :)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             726
We Provide Full Time Permanent Positions for many medium to large US companies. We are interested in finding/recruiting high quality candidates in IT, Engineering, Manufacturing and other highly technical and non-technical jobs.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              674
Novitex Enterprise Solutions, formerly Pitney Bowes Management Services, delivers innovative document and communications management solutions that help companies around the world drive business process efficiencies, increase productivity, reduce costs and improve customer satisfaction. For almost 30 years, clients have turned to us to integrate and optimize their enterprise-wide business processes to empower employees, increase productivity and maximize results. As a trusted partner, we continually focus on delivering secure, technology-enabled document and communications solutions that improve our clients' work processes, enhance their customer interactions and drive growth.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      574
Established on the principles that full time education is not for everyone Spectrum Learning is made up of a team of passionate consultants with the drive for putting people who wish to grow themselves through education whilst working into long term and relevant job roles.We also are official re-sellers for The Institute of Recruiters/ Study Course professional courses in HR Practice, In-House Recruitment and Agency RecruitmentIt is our mission to help anyone wishing to pursue an apprenticeship onto the right qualification and into the right job.We work closely with both the candidate and the employer to ensure when the learner is enrolled they are at the start of a long and successful career.We have great relationships with a number of national training providers to ensure we can cover any apprenticeship available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       450
Applied Memetics LLC is a professional services company dedicated to integrating and delivering best practice communication and information solutions in pre-conflict, conflict, or post-conflict areas.  The world has changed: ‘always on’ brands require a new way of thinking to engage and manage their consumers. Our purpose is to inspire original thinking through a deeper understanding of technology and human behaviour.  From strategy through to implementation, our teams of connected specialists – all experts in their respective fields – work together to help our clients maximise the opportunities created by the changing digital world and create a multi faceted digital strategy through to implementation.Our work explores a new model of journalism that is based around a global story – in this case, the struggle for human rights and democracy around the world. Our goal is to build a better user experience of these stories by adding context to content, using the latest digital tools of the day. Over time, we hope to add greater clarity, deeper understanding, and more sustained engagement to the conversations surrounding global events. As such, our content is transcribed and translated into English for broadcast to a global audience.                                                   185
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
We make tools for startups. Currently building Hire my Friend, Wrangler, Attending, Linkydink. Based in London and proud of it!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Complete camp and catering services to meet the needs of your remote location.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Founded in 2010, JoMedia has become a world leader in the publication and marketing of online video game services. Building on our achievements, the JoMedia team is expanding our services into new and more exciting areas for the future such as music, movies, books and software. We are looking for great talent to join the Montreal office and help us achieve our goals in becoming world leaders of online and digital entertainment.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
The company BREADHUNTER e.U. was founded in 2012 to support companies and candidates to find common ground.            The company name emphasizes the moral aspect of headhunting &amp; recruiting in the age of Web 2.0, combined with innovative IT-Tools.Thomas Zahlten, the founder, looks back to 14 years of experience in international recruitment and talent management. Since 1999 I am experienced in the Industry of Finance &amp; Private Banking, IT &amp; Telekommunikation, Engineering &amp; Construction as well as in Pharma &amp; Life Science and the Energy Market. I successfully worked on more than 389 projects in recruiting, talent management and headhunting. Our main operating field is in Austria, Germany, Switzerland, CEE, Russia and Middle East and we love to solve international recruiting problems. Explore the difference in headhunting and meet Mr. BREADHUNTER.                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Miles Greve is located in Las Vegas, NV where he heads up, The Blume Boston Organization, a hotel real estate investment news think tank. His background includes 27 years working and studying the hotel and investment industry, from the operation, sales,and research side of the industry. In 2012, he founded a hotel real estate news and research platform, The BlumeBoston Organization, to study hotel real estate news trends and activities throughout the United States and abroad. His research interest includes studying the hotel real estate investing news activity of those that participate and are active within that space. His specific emphasis of research includes collecting hotel investment news so as to document and record any published stories obtained from major search engines. As well to make that information available to those who are interested in what is occurring on the ground locally, nationally, and internationally. If you are interested in speaking to Miles about hotel real estate investment news, please contact him at #EMAIL_fb30219eb4bff6ff66cd2d32c0f7cf5268d9d8a7e5dac2c12b8cfd68f978349e# or contact him by calling #PHONE_0f9c8139bb9be4cd1aa3cf26673bbc936d4b733dedec8eba5aa6f3abde7509b0#. The Blume Boston Organization is a non-profit built for hotel news curators.       1
Name: company_profile, Length: 1709, dtype: int64
Los valores unicos de la columna description: Play with kids, get paid for it Love travel? Jobs in Asia$1,500+ USD monthly ($200 Cost of living)Housing provided (Private/Furnished)Airfare ReimbursedExcellent for student loans/credit cardsGabriel Adkins : #URL_ed9094c60184b8a4975333957f05be37e69d3cdb68decc9dd9a4242733cfd7f7##URL_75db76d58f7994c7db24e8998c2fc953ab9a20ea9ac948b217693963f78d2e6b#12 month contract : Apply today                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            379

Name: industry, Length: 131, dtype: int64
Los valores unicos de la columna function: Information Technology    1749
Sales                     1468
Engineering               1348
Customer Service          1229
Marketing                  830
Administrative             630
Design                     340
Health Care Provider       338
Education                  325
Other                      325
Management                 317
Business Development       228
Accounting/Auditing        212
Human Resources            205
Project Management         183
Finance                    172
Consulting                 144
Art/Creative               132
Writing/Editing            132
Production                 116
Product Management         114
Quality Assurance          111
Advertising                 90
Business Analyst            84
Data Analyst                82
Public Relations            76
Manufacturing               74
General Business            68
Research                    50
Legal                       47
Strategy/Planning           46
Training                    38
Supply Chain                36
Financial Analyst           33
Distribution                24
Purchasing                  15
Science                     14
Name: function, dtype: int64
Los valores unicos de la columna fraudulent: 0    17014
1      866
Name: fraudulent, dtype: int64

In [12]:
#dropeo las columnas que tengan mas del 65% de los datos como NaN
data_filter = data.loc[:, data.isnull().mean() <= .65]
data_filter

,title,location,department,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,Account Director - Distribution,"CA, ON, Toronto",Sales,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,Web Application Developers,"NZ, N, Wellington",Engineering,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [13]:
#La unica que dropea es "salary_range"

In [14]:
# Creo un dataframe nuevo con las caracteristicas que puedo procesar para utilizar en el modelo

In [15]:
pfeatures = data.drop(["title","company_profile","description","requirements","benefits"],axis=1)

In [16]:
pfeatures

,location,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,
1,"US, NY, New York",Marketing,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,"NZ, , Auckland",Success,NaN,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,"US, IA, Wever",NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,"US, DC, Washington",Sales,NaN,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,"US, FL, Fort Worth",NaN,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...
17876,"CA, ON, Toronto",Sales,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,"US, PA, Philadelphia",Accounting,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,"US, TX, Houston",NaN,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,"NG, LA, Lagos",NaN,NaN,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,"NZ, N, Wellington",Engineering,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [17]:
data

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [18]:
# Voy a hacer un mapa de las ubicaciones

import geopandas as gpd


def my_geocoder(row):
    try:
        point = geocode(row, provider='nominatim').geometry.iloc[0]
        return pd.Series({'Latitude': data.y, 'Longitude': data.x, 'geometry': data})
    except:
        return None

data["longitud"] = data.apply(lambda x: my_geocoder(x['location']), axis=1)

print("{}% of addresses were geocoded!".format(
    (1 - sum(np.isnan(data["Latitude"])) / len(data)) * 100))

# Drop universities that were not successfully geocoded
data = data.loc[~np.isnan(data["Latitude"])]
data = gpd.GeoDataFrame(data, geometry=data.geometry)
data.crs = {'init': 'epsg:4326'}
data.head()

In [19]:
# tengo problemas con la libreria geopandas, asi que voy a dejar este paso para despues

In [20]:
pfeatures

,location,department,salary_range,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,
1,"US, NY, New York",Marketing,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,"NZ, , Auckland",Success,NaN,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,"US, IA, Wever",NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,"US, DC, Washington",Sales,NaN,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,"US, FL, Fort Worth",NaN,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...
17876,"CA, ON, Toronto",Sales,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Sales,0
17877,"US, PA, Philadelphia",Accounting,NaN,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,"US, TX, Houston",NaN,NaN,0,0,0,Full-time,NaN,NaN,NaN,NaN,0
17879,"NG, LA, Lagos",NaN,NaN,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,"NZ, N, Wellington",Engineering,NaN,0,1,1,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0

In [21]:
#separo las variabels en categoricas y numericas

In [22]:
numerical_cols = [cname for cname in pfeatures.columns if 
                pfeatures[cname].dtype in ['int64', 'float64']]

categorical_cols = [cname for cname in pfeatures.columns if 
                   pfeatures[cname].dtype == "object"]

In [23]:
numerical_cols

['telecommuting', 'has_company_logo', 'has_questions', 'fraudulent']

In [24]:
categorical_cols

['location',
 'department',
 'salary_range',
 'employment_type',
 'required_experience',
 'required_education',
 'industry',
 'function']

In [25]:
#prueba de la cardinalidad
#A las columnas con baja cardinalidad,se le aplicara un One-Hot-Encoder
low_cardinality_cols = [col for col in categorical_cols if pfeatures[col].nunique() < 10]

#A las columnas con alta cardinalidad, se le aplicara un label_encoder
high_cardinality_cols = list(set(categorical_cols)-set(low_cardinality_cols))

low_cardinality_cols

['employment_type', 'required_experience']

In [26]:
high_cardinality_cols

['required_education',
 'industry',
 'salary_range',
 'department',
 'function',
 'location']

In [27]:
# Antes de aplicar el encode tengo que resolver los valores nulos

In [28]:
# porcentaje de valores vacios por columna
total = pfeatures.isnull().sum().sort_values(ascending=False)
percent = (pfeatures.isnull().sum()/pfeatures.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                     Total   Percent
salary_range         15012  0.839597
department           11547  0.645805
required_education    8105  0.453300
required_experience   7050  0.394295
function              6455  0.361018
industry              4903  0.274217
employment_type       3471  0.194128
location               346  0.019351
fraudulent               0  0.000000
has_questions            0  0.000000
has_company_logo         0  0.000000
telecommuting            0  0.000000

In [29]:
# elimino departament de pfeatures y de high_cardinality_cols
# porque tiene mas del 60% de los valores como NaN
pfeatures = pfeatures.drop("department",axis=1)

high_cardinality_cols.remove("department")
print(high_cardinality_cols)


# elimino salary_range de pfeatures y de high_cardinality_cols
# porque tiene mas del 60% de los valores como NaN

pfeatures = pfeatures.drop("salary_range",axis=1)

high_cardinality_cols.remove("salary_range")
print(high_cardinality_cols)

['required_education', 'industry', 'salary_range', 'function', 'location']
['required_education', 'industry', 'function', 'location']

In [30]:
# para la variable "employment_type" voy a relleanr los valores vacios con un "Desconocido" poque hay demasiados valores vacios para remplazarlos con la media
pfeatures["employment_type"].fillna(value="Desconocido" , inplace=True)

In [31]:
pfeatures.employment_type.head()

job_id
1          Other
2      Full-time
3    Desconocido
4      Full-time
5      Full-time
Name: employment_type, dtype: object

In [32]:
# Para la variable "required_experience" remplazo los valores desconocnidos con la meda ya que no son tantos
pfeatures["required_experience"].fillna(pfeatures["required_experience"].mode()[0], inplace = True)

In [33]:
#ahora voy a remplazar los valores por "Desconocido" en el resto de los valores
for cols in high_cardinality_cols:
    pfeatures[cols].fillna(value= "Desconocido", inplace = True)

In [34]:
#ahora toca rellenar los NaN para las variables numericas
for column in numerical_cols:
    pfeatures[column].fillna(pfeatures[column].median(), inplace=True)

In [35]:
pfeatures.reindex()

,location,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,
1,"US, NY, New York",0,1,0,Other,Internship,Desconocido,Desconocido,Marketing,0
2,"NZ, , Auckland",0,1,0,Full-time,Not Applicable,Desconocido,Marketing and Advertising,Customer Service,0
3,"US, IA, Wever",0,1,0,Desconocido,Mid-Senior level,Desconocido,Desconocido,Desconocido,0
4,"US, DC, Washington",0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,"US, FL, Fort Worth",0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...
17876,"CA, ON, Toronto",0,1,1,Full-time,Mid-Senior level,Desconocido,Computer Software,Sales,0
17877,"US, PA, Philadelphia",0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17878,"US, TX, Houston",0,0,0,Full-time,Mid-Senior level,Desconocido,Desconocido,Desconocido,0
17879,"NG, LA, Lagos",0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17880,"NZ, N, Wellington",0,1,1,Full-time,Mid-Senior level,Desconocido,Computer Software,Engineering,0

In [36]:
# para las variables de baja cardinalidad le aplico el one-hot-encoding, ya que al ser baja la cardinalidad no seran muchas las columnas que se crearan

In [37]:
from sklearn.preprocessing import OneHotEncoder
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_encoder = pd.DataFrame(OH_encoder.fit_transform(pfeatures[low_cardinality_cols]))

In [38]:
OH_encoder

         0    1    2    3    4    5    6    7    8    9   10   11   12
0      0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1      0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
2      0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3      0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4      0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
17875  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
17876  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
17877  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
17878  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
17879  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

[17880 rows x 13 columns]

In [39]:
#los indices de esta columna comienzan en 0 y los de pfeatures comienzan en 1,
#voy a hacer que el indice de esta columna tambien empieze en 1 para evitar problemas al unir los datasets
OH_encoder.index = np.arange(1, len(OH_encoder)+1)
OH_encoder.head()

     0    1    2    3    4    5    6    7    8    9   10   11   12
1  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [40]:
#ya generamos las primeras variables categoricas, ahora voy a apicar labelencoder para las variables con cardinalidad alta

In [41]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for cols in high_cardinality_cols:
    pfeatures[cols]= label_encoder.fit_transform(pfeatures[cols])

In [42]:
#ahora vamos a combinar todo

In [43]:
pfeatures

,location,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,
1,2536,0,1,0,Other,Internship,3,29,23,0
2,1074,0,1,0,Full-time,Not Applicable,3,76,7,0
3,1868,0,1,0,Desconocido,Mid-Senior level,3,29,9,0
4,1704,0,1,0,Full-time,Mid-Senior level,1,22,32,0
5,1742,0,1,1,Full-time,Mid-Senior level,1,52,17,0
...,...,...,...,...,...,...,...,...,...,...
17876,166,0,1,1,Full-time,Mid-Senior level,3,22,32,0
17877,2735,0,1,1,Full-time,Mid-Senior level,1,62,0,0
17878,2876,0,0,0,Full-time,Mid-Senior level,3,29,9,0
17879,1046,0,0,1,Contract,Not Applicable,7,49,10,0
17880,1093,0,1,1,Full-time,Mid-Senior level,3,22,13,0

In [44]:
# Lo primero es sacar las variables de baja cardinalidad ya que se encunetran ya procesadas en "OH_encoder"

In [45]:
pfeatures = pfeatures.drop(low_cardinality_cols,axis=1)

In [46]:
union = pd.concat([pfeatures,OH_encoder], axis =1)

In [47]:
# verifico que coincidan los indices comparando los valores de la primera fila de las dos tablas

In [48]:
union

,location,telecommuting,has_company_logo,has_questions,required_education,industry,function,fraudulent,0,1,...,3,4,5,6,7,8,9,10,11,12
1,2536,0,1,0,3,29,23,0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1074,0,1,0,3,76,7,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1868,0,1,0,3,29,9,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1704,0,1,0,1,22,32,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1742,0,1,1,1,52,17,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,166,0,1,1,3,22,32,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17877,2735,0,1,1,1,62,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17878,2876,0,0,0,3,29,9,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17879,1046,0,0,1,7,49,10,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17880,1093,0,1,1,3,22,13,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [49]:
pfeatures = union

In [50]:
# Ahora, ya que el dataset esta desbalanceado, vamos a balancearlo con la tecnica smote
#Lo que hace esta tecnica es generar nuevas variables (de la clase minoritaria) para aproximarse a la otra clase
#Esto resulta en un mejor rendimiento de los modelos

In [51]:
# SMOTE

from imblearn.over_sampling import SMOTE
#separo la variable objetivo("fraudalent") del resto.
X= pfeatures.drop("fraudulent", axis=1)
y = pfeatures["fraudulent"]

In [52]:
# Separo en train-test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
sm = SMOTE(random_state=27,sampling_strategy=1.0)
X_train, y_train = sm.fit_sample(X_train, y_train)

In [54]:
# Aplico los modelos

# Regresion Logistica

In [69]:
from sklearn.metrics import confusion_matrix

In [70]:
from sklearn.linear_model import LogisticRegression

Reglog = LogisticRegression(max_iter= 500000)
Reglog.fit(X_train,y_train)

Reglog_pred = Reglog.predict(X_test)

In [71]:
from sklearn.metrics import classification_report

In [72]:
print(classification_report(y_test, Reglog_pred))

              precision    recall  f1-score   support

           0       0.98      0.81      0.89      3395
           1       0.16      0.70      0.26       181

    accuracy                           0.80      3576
   macro avg       0.57      0.75      0.57      3576
weighted avg       0.94      0.80      0.85      3576

In [73]:
confusion_matrix(y_test, Reglog_pred)

array([[2740,  655],
       [  54,  127]], dtype=int64)

# Random Forest Classifier

In [74]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier()
random_forest.fit(X_train,y_train)

RandomForestClassifier()

In [77]:
random_forest_pred = random_forest.predict(X_test)
print(classification_report(y_test,random_forest_pred))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      3395
           1       0.66      0.69      0.68       181

    accuracy                           0.97      3576
   macro avg       0.82      0.84      0.83      3576
weighted avg       0.97      0.97      0.97      3576

In [78]:
confusion_matrix(y_test, random_forest_pred)

array([[3331,   64],
       [  56,  125]], dtype=int64)

# ADA BOOST

In [80]:
#estadarizo los datos para que funcione mejor el modelo
from  sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_train_sca = sc_X.fit_transform(X_train)
X_test_sca = sc_X.transform(X_test)

In [84]:
from sklearn.ensemble import AdaBoostClassifier

ada=AdaBoostClassifier(random_state=0)
ada.fit(X_train_sca,y_train)
ada_pred=classifier.predict(X_test_sca)

print(classification_report(y_test,ada_pred))

confusion_matrix(y_test, ada_pred)

              precision    recall  f1-score   support

           0       0.98      0.88      0.93      3395
           1       0.22      0.63      0.32       181

    accuracy                           0.87      3576
   macro avg       0.60      0.75      0.62      3576
weighted avg       0.94      0.87      0.89      3576

array([[2982,  413],
       [  67,  114]], dtype=int64)

# Passive Aggressive Classifier

In [85]:
from sklearn.linear_model import PassiveAggressiveClassifier

pac=PassiveAggressiveClassifier(random_state=0)
pac.fit(X_train_sca,y_train)
pac_pred=pac.predict(X_test_sca)

print(classification_report(y_test,pac_pred))


confusion_matrix(y_test, pac_pred)

              precision    recall  f1-score   support

           0       0.98      0.75      0.85      3395
           1       0.12      0.66      0.21       181

    accuracy                           0.75      3576
   macro avg       0.55      0.70      0.53      3576
weighted avg       0.93      0.75      0.82      3576

array([[2554,  841],
       [  62,  119]], dtype=int64)

# DecisionTreeClassifier

In [86]:
from sklearn.tree import DecisionTreeClassifier

dtc=DecisionTreeClassifier(criterion="entropy",random_state=0)
dtc.fit(X_train_sca,y_train)
dtc_pred=dtc.predict(X_test_sca)
print(classification_report(y_test,dtc_pred))
confusion_matrix(y_test, dtc_pred)

              precision    recall  f1-score   support

           0       0.98      0.97      0.98      3395
           1       0.58      0.70      0.64       181

    accuracy                           0.96      3576
   macro avg       0.78      0.84      0.81      3576
weighted avg       0.96      0.96      0.96      3576

array([[3303,   92],
       [  54,  127]], dtype=int64)